<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { page }) %>
</head>
<body>
<%- include('partials/header', { page }) %>
<div class="container-fluid bg-3">
    <% if ( page === 'error' ) { %>
        <%- include('partials/error', { errno, url, errmsg }) %>
    <% } else if ( page === 'users') { %>
        <%- include('partials/user') %>
    <% } else if ( page === 'doc' ) { %>
        <%- include('partials/doc') %>
    <% } else { %>
        <%- include('partials/home')%>
    <% } %>
</div>
</body>
<%- include('partials/script') %>
</html>
